<script type="text/javascript">
var processWeek = "<div class='facebox-text'>I see you've reviewed all the information for the week, and it looks good to present to stores!  Are you ready to process this week and present the data to stores?</div>"+
"<div class='centered top_pad'><a href='' class='green-button'>Process Week!</a></div>";


</script>


<h2>Week of September 27, 2009 - October 4, 2009 - Ready to Process</h2>

<div class="top-right-create-box">
  <%=link_to "Print View", '/weeks/1/print', :target => '_blank', :class => 'main-content-button' %> &nbsp; 
  <%=link_to "Download XLS", '#', :class => 'main-content-button' %> &nbsp; 
  <%=link_to "Process Now", 'javascript:jQuery.facebox(processWeek)', :class => 'main-content-button' %>
</div>

<div id="ready-to-process-tabs" class="tabs">
  <a href="javascript:hideDiv('lyreco_info');showDiv('xpdx_info');activateTab('ready-to-process-tabs','xpdx_tab_link');" id="xpdx_tab_link" class="first active">XPDX</a><a href="javascript:hideDiv('xpdx_info');showDiv('lyreco_info');activateTab('ready-to-process-tabs','lyreco_tab_link');" id="lyreco_tab_link">Lyreco</a><a href="javascript:hideDiv('lyreco_info');showDiv('xpdx_info');activateTab('ready-to-process-tabs','staples_tab_link');" id="staples_tab_link">Staples</a><a href="javascript:hideDiv('xpdx_info');showDiv('lyreco_info');activateTab('ready-to-process-tabs','cpc_tab_link');" id="cpc_tab_link">CPC</a><a href="javascript:hideDiv('lyreco_info');showDiv('xpdx_info');activateTab('ready-to-process-tabs','farnell_tab_link');" id="farnell_tab_link">Farnell</a><a href="javascript:hideDiv('xpdx_info');showDiv('lyreco_info');activateTab('ready-to-process-tabs','mcm_tab_link');" id="mcm_tab_link" class="last">MCM</a>
</div>

<div id="xpdx_info">

  <table class="stores-week-grid" cellspacing="0" cellpadding="0">
    <tr class="header">
      <th><a href="#SORT">Store #</a></th>
      <th class="sorted-desc"><div class="sort-icon"></div><a href="#SORT">Store Name</a></th>
      <th><a href="#SORT">Region</a></th>
      <th><a href="#SORT">CC</a></th>
      <th><a href="#SORT">Budget</a></th>
      <th><a href="#SORT">Vendor Input</a></th>
      <th><a href="#SORT">Input Currency</a></th>
      <th><a href="#SORT">Exchange Rate</a></th>
      <th><a href="#SORT">Approx. Total</a></th>
    </tr>


    <tr>
      <td>R124</td>
      <td>Glendale Gallery</td>
      <td>AMR</td>
      <td>6101</td>
      <td>$1,000</td>
      <td>140</td>
      <td>GBP</td>
      <td>2.1</td>
      <td class="status-bar">
        <div>$<%= 140*2.1 %>0</script> of $1000 spent</div>
        <div class="status-incomplete">
          <div class="status-completed" style="width:<%= (140*2.1/1000*100).to_i %>%;"></div>
        </div>
      </td>
    </tr>


    <tr>
      <td>R104</td>
      <td>Downtown Palo Alto</td>
      <td>AMR</td>
      <td>6101</td>
      <td>$1,000</td>
      <td>140</td>
      <td>GBP</td>
      <td>2.1</td>
      <td class="status-bar">
        <div>$<%= 140*2.1 %>0</script> of $1000 spent</div>
        <div class="status-incomplete">
          <div class="status-completed" style="width:<%= (140*2.1/1000*100).to_i %>%;"></div>
        </div>
      </td>
    </tr>

    <tr>
      <td>R114</td>
      <td>SOMA</td>
      <td>AMR</td>
      <td>6101</td>
      <td>$1,000</td>
      <td>140</td>
      <td>GBP</td>
      <td>2.1</td>
      <td class="status-bar">
        <div>$<%= 140*2.1 %>0</script> of $1000 spent</div>
        <div class="status-incomplete">
          <div class="status-completed" style="width:<%= (140*2.1/1000*100).to_i %>%;"></div>
        </div>
      </td>
    </tr>
  </table>

</div>



<div id="lyreco_info" class="hidden">

  <table class="stores-week-grid" cellspacing="0" cellpadding="0">
    <tr class="header">
      <th><a href="#SORT">Store #</a></th>
      <th class="sorted-desc"><div class="sort-icon"></div><a href="#SORT">Store Name</a></th>
      <th><a href="#SORT">Region</a></th>
      <th><a href="#SORT">CC</a></th>
      <th><a href="#SORT">Budget</a></th>
      <th><a href="#SORT">Vendor Input</a></th>
      <th><a href="#SORT">Input Currency</a></th>
      <th><a href="#SORT">Exchange Rate</a></th>
      <th><a href="#SORT">Approx. Total</a></th>
    </tr>


    <tr>
      <td>R111</td>
      <td>Four Corners</td>
      <td>AMR</td>
      <td>6101</td>
      <td>$1,000</td>
      <td>140</td>
      <td>EUR</td>
      <td>1.37</td>
      <td class="status-bar">
        <div>$<%= 140*1.37 %>0</script> of $1000 spent</div>
        <div class="status-incomplete">
          <div class="status-completed" style="width:<%= (140*1.37/1000*100).to_i %>%;"></div>
        </div>
      </td>
    </tr>

  </table>

</div>