<h2>Setup Fiscal Year Dates</h2>


<div class="field-row">
  <div class="field-label"><label for="">Period 1 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', 'auto-filled with guess for date' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 1 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 2 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 2 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 3 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 3 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 4 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 4 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 5 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 5 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 6 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 6 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 7 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 7 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 8 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 8 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 9 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 9 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 10 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 10 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 11 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 11 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<hr/>

<div class="field-row">
  <div class="field-label"><label for="">Period 12 Start:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="field-row">
  <div class="field-label"><label for="">Period 12 End:</label></div>
  <div class="field-value">&nbsp;<%= text_field_tag 'login', '' %> <%= image_tag 'cal-icon-small.png' %></div>
</div>

<div class="submit centered top_pad bottom_pad">
  <%=submit_tag 'Save Dates' %>
</div>